@import "tailwindcss";

@theme {
    --text-primary: #2B3442;
    --text-secondary: #4B6A9B;
    --text-tertiary: #697C9A;

    --bg-primary: #F6F8FF;
    --bg-secondary: #FEFEFE;

    --color-branding: #0079FF;
}